body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.cards {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    color: brown;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    user-select: auto;
    position: relative;
    transition: transform 0,5s;
}

.card-flipped {
    background: white;
    color: black;
    cursor: grab;
}
